<!DOCTYPE html>
<html>

  <head>
    <title>Cycle Berry | Dublin City Bikes</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!--External style sheet used for jqueryui-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="icon" href="../static/images/berry.svg">
  </head>

  <body>
    <!-- Navbar from templates section -->
    {% include 'includes/_navbar.html' %}
    
    <!-- Main part of page in container -->
    <div class="flex-container">
      
      <!-- Search Bar + CHart Section -->
      <div class="first">
        <div>
          <input type="text" name="" id="stationtextbox" placeholder="Search for an address here..." />
        </div>
        <div id="chartLoad">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
        <div id="chartContainer">
          <canvas id="myChart" width="300" height="250"></canvas>
        </div> 
      </div>

      <!-- Map Section -->
      <div class="second">
        <div class="imagebox">
          <div id="map"></div>
        </div>
      </div>
      
      <!-- Weather Section -->
      <div class="third">
        <div class="weatherInfo">
          {% for i in myResult %}
          <div class="weather">
            <li class="list-group">
              <ul id="weatherIcon"></ul>
              <ul>Current Weather: {{(i.Description.capitalize())}}</ul>
              <ul>Current Temp: {{(i.Temp)}} °C</ul>
              <ul>Min Temp: {{(i.Temp_Min)}} °C</ul>
              <ul>Max Temp: {{(i.Temp_Max)}} °C</ul>
            </li>
          </div>
          {% endfor %}
        </div>
        <div id="formLoad">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
        <div id="predictForm">
          <form>
            <p id="formName"></p>
            <p id="formNum"></p>
            <input type="text" id="weekdayBox" class="formInputBox" name="weekday" placeholder="Please enter weekday..."/>
            <input type="text" id="timeBox" class="formInputBox" name="time" placeholder="Please enter time..."/>
            <input type="button" id="formBtn" class="formInputBox" value="Predict Now..." placeholder="Predict Now..."/>
          </form>
        </div>
      </div>  
    </div>
    
    
    <!--  Recently used section  -->
    <div id='recently_used'>
    	<ol class='recent_box'>
    		<lh>Recently Used:</lh>
    		<li id='recently_viewed_station'></li>
    		<li id='recent_info'></li>
    	</ol>
    </div>

    <!-- Footer section -->
    <footer>
      <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://github.com/Lockers13/CycleBerry"><img class="github" src="../static/images/github.svg"></a>
            </div>
        </div>
      </div>
    </footer>


  </body>
<!--mapStyle.js must be above map.js, using a global variable-->
<script type="text/javascript" src="static/mapStyle.js"></script>
<script type="text/javascript" src="static/charts.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPEzXY0-3TJDRduMnFFy-P9iislXN6wVc&callback=initMap"></script> 
<!--Next two are external and used mainly for search bar automation, must be above searchBar.js-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="static/searchBar.js"></script>
<script type="text/javascript" src="static/form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>



<script>

  //Placed here as myResult for weather is being sent to this html document

  var iconPlace = document.getElementById("weatherIcon");

  var possibleWeather = ["Clouds", "Rain", "Drizzle", "Clear", "Fog", "Mist", "Snow"];

  var weatherResult = '{{ myResult[0].Main }}';

  switch (weatherResult) {
  case possibleWeather[0]:
    iconPlace.innerHTML = "<img src=\"static/images/cloud.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[1]:
    iconPlace.innerHTML = "<img src=\"static/images/rain.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[2]:
    iconPlace.innerHTML = "<img src=\"static/images/drizzle.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[3]:
    iconPlace.innerHTML = "<img src=\"static/images/sun.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[4]:
    iconPlace.innerHTML = "<img src=\"static/images/fog.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[5]:
    iconPlace.innerHTML = "<img src=\"static/images/mist.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[6]:
    iconPlace.innerHTML = "<img src=\"static/images/snow.svg\" width=\"80px\" height=\"px\">";
    break;
}




</script>

</html>

