<!DOCTYPE html>
<html>

  <head>
    <title>Cycle Berry | Dublin City Bikes</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!--External style sheet used for jqueryui-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="icon" href="../static/images/berry.svg">
  </head>

  <body>
    {% include 'includes/_navbar.html' %}
    
    <!-- <h3 class="text-center" id="title">Cycle Berry</h3> -->

    <div class="flex-container">
      <div class="first">
        <div>
          <input type="text" name="" id="stationtextbox" placeholder="Search for an address here..." />
        </div>
      </div>
      <div class="second">
        <div class="imagebox">
          <div id="map"></div>
        </div>
      </div>
      <div class="third">
        <div class="weatherInfo">
          {% for i in myResult %}
          <div class="weather">
            <li class="list-group">
              <ul id="weatherIcon"></ul>
              <ul>Current Weather: {{(i.Description.capitalize())}}</ul>
              <ul>Current Temp: {{(i.Temp)}} °C</ul>
              <ul>Min Temp: {{(i.Temp_Min)}} °C</ul>
              <ul>Max Temp: {{(i.Temp_Max)}} °C</ul>
            </li>
          </div>
          {% endfor %}
        </div>
      </div>  
    </div>

    <footer>
      <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://github.com/Lockers13/CycleBerry"><img class="github" src="../static/images/github.svg"></a>
            </div>
        </div>
      </div>
    </footer>


  </body>

<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNt8B1GTS6HF65Jf_KfBqsWR-2KdUvkDY&callback=initMap"></script> 
<!--Next two are external and used mainly for search bar automation-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="static/searchBar.js"></script>

<script>

  //Need to wait for weather information to be loaded so used in this script tag//

  var iconPlace = document.getElementById("weatherIcon");

  var possibleWeather = ["Clouds", "Rain", "Drizzle", "Clear", "Fog", "Mist", "Snow"];

  var weatherResult = '{{ myResult[0].Main }}';

  switch (weatherResult) {
  case possibleWeather[0]:
    iconPlace.innerHTML = "<img src=\"static/images/cloud.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[1]:
    iconPlace.innerHTML = "<img src=\"static/images/rain.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[2]:
    iconPlace.innerHTML = "<img src=\"static/images/drizzle.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[3]:
    iconPlace.innerHTML = "<img src=\"static/images/sun.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[4]:
    iconPlace.innerHTML = "<img src=\"static/images/fog.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[5]:
    iconPlace.innerHTML = "<img src=\"static/images/mist.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[6]:
    iconPlace.innerHTML = "<img src=\"static/images/snow.svg\" width=\"80px\" height=\"px\">";
    break;
}

</script>

</html>

