<!DOCTYPE html>
<html>

  <head>
    <title>MyFlaskApp</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>
    {% include 'includes/_navbar.html' %}
    <h3 class="text-center" id="title">Cycle Berry</h3>
    
    <div class="container">  
      
      <div id="map"></div>

      {% for i in myResult %}
      <div class="d-flex justify-content-end weather">
        <li class="list-group">
          <ul>Main Weather: {{(i.Main)}}</ul>
          <ul>Description: {{(i.Description)}}</ul>
          <ul>Temperature: {{(i.Temp)}}</ul>
          <ul>Minimum Temperature: {{(i.Temp_Min)}}</ul>
          <ul>Maximum Temperature: {{(i.Temp_Max)}}</ul>
          <ul>Time: {{(i.True_Time)}}</ul>
        </li>
      </div>
      {% endfor %}

    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNt8B1GTS6HF65Jf_KfBqsWR-2KdUvkDY&callback=initMap"></script>


  </body>
</html>

