<!DOCTYPE html>
<html>

  <head>
    <title>Cycle Berry | Dublin City Bikes</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!--External style sheet used for jqueryui-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="icon" href="../static/images/berry.svg">
  </head>

  <body>
    {% include 'includes/_navbar.html' %}
    
    <!-- <h3 class="text-center" id="title">Cycle Berry</h3> -->

    <div class="flex-container">
      <div class="first">
        <div>
          <input type="text" name="" id="stationtextbox" placeholder="Search for an address here..." />
        </div>
        <div class="chartSection">
          <canvas id="myChart" width="300" height="250"></canvas>  
        </div>
      </div>
      <div class="second">
        <div class="imagebox">
          <div id="map"></div>
        </div>
      </div>
      <div class="third">
        <div class="weatherInfo">
          {% for i in myResult %}
          <div class="weather">
            <li class="list-group">
              <ul id="weatherIcon"></ul>
              <ul>Current Weather: {{(i.Description.capitalize())}}</ul>
              <ul>Current Temp: {{(i.Temp)}} °C</ul>
              <ul>Min Temp: {{(i.Temp_Min)}} °C</ul>
              <ul>Max Temp: {{(i.Temp_Max)}} °C</ul>
            </li>
          </div>
          {% endfor %}
        </div>
        <div class="chartSection">
          <canvas id="myChart" width="300" height="300"></canvas>  
        </div>
      </div>  
    </div>
    <p id='test_p'></p>

    <footer>
      <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://github.com/Lockers13/CycleBerry"><img class="github" src="../static/images/github.svg"></a>
            </div>
        </div>
      </div>
    </footer>


  </body>
<!--mapStyle.js must be above map.js, using a global variable-->
<script type="text/javascript" src="static/mapStyle.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNt8B1GTS6HF65Jf_KfBqsWR-2KdUvkDY&callback=initMap"></script> 
<!--Next two are external and used mainly for search bar automation, must be above searchBar.js-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="static/searchBar.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>



<script>

  //Need to wait for weather information to be loaded so used in this script tag//

  var iconPlace = document.getElementById("weatherIcon");

  var possibleWeather = ["Clouds", "Rain", "Drizzle", "Clear", "Fog", "Mist", "Snow"];

  var weatherResult = '{{ myResult[0].Main }}';

  switch (weatherResult) {
  case possibleWeather[0]:
    iconPlace.innerHTML = "<img src=\"static/images/cloud.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[1]:
    iconPlace.innerHTML = "<img src=\"static/images/rain.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[2]:
    iconPlace.innerHTML = "<img src=\"static/images/drizzle.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[3]:
    iconPlace.innerHTML = "<img src=\"static/images/sun.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[4]:
    iconPlace.innerHTML = "<img src=\"static/images/fog.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[5]:
    iconPlace.innerHTML = "<img src=\"static/images/mist.svg\" width=\"80px\" height=\"px\">";
    break;
  case possibleWeather[6]:
    iconPlace.innerHTML = "<img src=\"static/images/snow.svg\" width=\"80px\" height=\"px\">";
    break;
}


var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
        datasets: [{
            label: 'Station Name',
            data: [12, 19, 3, 5, 2, 3, 9],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
     options: {
    legend: {
      display: true,
      position: 'top',
      labels: {
        fontColor: "white",
        boxWidth:0
      }
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});

</script>

</html>

